.imagesdiv{
    width:10%;
    float
}

.alert{
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.jumbotron{
    width:100%;
    margin-left:5%;
    float: left;
    font-size: 10px;
}

.container{
    width:100%;
}

.imagesdiv{
    margin-left:30%;
}

.display-10{
    text-align: center;
}

.body{
    background: url(../images/background.jpg);
    /* background: url(../images/caleb-george-67724-unsplash.jpg) */
}