.container{
    height: 100%;
    width:900px;
    margin-left:15%;
}

.header{
    background-color: aqua;
    text-align: center;
    padding:20px;
}

body{
    background-image: url(../images/background.jpg);
}

.instructions{
    background-color: beige;
}

.game-stats{
    background-color: blanchedalmond;
}

.crystal-set{
    margin-left:px;
    background-color: aquamarine;
    width:900px;
    text-align: center;
}